@import "../vendors/extends";
@import "../vendors/variables";

.product {
  display: flex;
  align-items: center;
  padding: 156px 0 112px 0;

  @media (max-width: 765px) {
    padding: 40px 0 40px 0;
  }

  &-title {

    &:after {
      @extend %redLine;
      margin: 0 auto;
    }

    &__title {
      @extend %titleFont;
      font-size: 42px;
      text-align: center;
      word-spacing: 5px;
    }

    &__text {
      &.text {
        text-align: center;
        padding: 16px 0px 25px 36px;
        line-height: 28px;
      }
    }
  }

  &__menu {
    padding: 81px 0 55px 0;

    @media (max-width: 768px) {
      padding: 15px 0 15px 0;
    }
  }

  &-menu {

    &__list {
      display: flex;
      justify-content: center;

      @media (max-width: 768px) {
        flex-direction: column;
        }
    }

    &__item {
      text-align: center;
      font-size: 22px;
      font-family: OpenSans-Semibold, sans-serif;
      color: $mainTextColor;
      list-style-type: none;
      padding: 0 25px 0 26px;

      @media (max-width: 768px) {
        &:first-child {
          padding: 0px;
        }

        @media (max-width: 576px) {
          &:first-child {
            padding: 0;
          }
        }
      }

      &:hover {
        cursor: pointer;
        color: $mainRedColor;
      }
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
  }

  &-images {

    &__box {
      max-width: 1249px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 20px;


      @media (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      @media (max-width: 576px) {
        justify-content: center;
      }

    }

    &__item {
      box-sizing: border-box;
      width: 292px;
      height: 293px;
      background-color: $QuarterSpanishWhite;
      margin: 0px 20px 20px 0px;

      @media (max-width: 992px) {
        margin: 20px;
      }

      &_img {
        width: 292px;
        height: 293px;
        box-sizing: border-box;
      }
    }
  }
}
