@import "../vendors/_extends";
@import "../vendors/_variables";



.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 90px 0 107px 0;
  
  @media (max-width: 1205px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 30px 0;
  }

  @media (max-width: 576px) {
    padding: 30px 0 30px 0;
  }
}

.promo {
  max-width: 50%;
  
  @media (max-width: 1205px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding-bottom: 50px;
  }
  &__title {
    font-family: OpenSans-ExtraBold, sans-serif;
    color: $black;
    font-size: 60px;
    padding-top: 5px;
    line-height: 74px;
    letter-spacing: 1px;

    @media (max-width: 1205px) {
      text-align: center;
    }
    
    @media (max-width: 756px) {
      font-size: 35px;
    }
    
    @media (max-width: 375px) {
      font-size: 35px;
    }

    &_word {
      letter-spacing: 10px;

      @media (max-width: 756px) {
        font-size: 35px;
      }

      @media (max-width: 375px) {
        font-size: 35px;
        letter-spacing: 0.5px;
      }
    }
  }

  &__description {
    &.text {
      padding: 19px 0 49px 0;
      line-height: 30px;

      @media (max-width: 1205px) {
        text-align: center;
      }
    }
  }

  &__button {
    @extend %mainButton;
    width: 230px;
    height: 58px;
    background-color: $mainRedColor;
    color: #f6f2f2;

    @media (max-width: 1205px) {
      margin: 0 auto;
    }
  }

  &__button:hover {
    background-color: $buttonHover;
    cursor: pointer;
  }
};

.video {
  &__bar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    margin: 24px 0 0 104px;
    background-color: #c4c0b1;
    box-shadow: -20px -14px 70px 10px #cbc7c7;

    @media (max-width: 1205px) {
      margin: 0 auto;
      width: 100%;
      height: 350px;
    }



    @media (max-width: 375px) {
      margin: 0 auto;
      height: 250px
    }
  }

  &-bar__icon {
    display: block;
    width: 70px;
    height: 70px;
    background: url(../icons/VedioIcon.png) bottom no-repeat;
    background-size: 100%;

    //&:hover {
    //  transform: scale(5, 5) 0.2s ease-in-out;
    //}
  }
};